{% extends "base.html" %}
{% block title %}AutoEDA | Correlation Plot{% endblock %}

{% block body %}
    {% if message == "Error": %}
        <p style="color:red;">In There is no such variables in your database, variables have inappropriate type, or you typed inappropriate number of variables! </p>
        <p>In this method you should type names of variables that you want to be used for correlation heatmap.</p>
    {% elif message != None: %}
        <img src = {{message}} />
    {% elif message == None: %}
        <p>In this method you should type names of variables that you want to be used for correlation heatmap.</p>
    {% endif %}
    <form action="#" method = "post">
        <p> Select variables for correlation heatmap: </p>
        <p> <input type="text" name="variables"</p>

        <p> <input type="submit" value="submit"</p>
    </form><br>
    <a href="/datalab"><button>click here to return to DataLab.</button></a>

{% endblock %}
