{% extends "base.html" %}
{% block title %}AutoEDA | DataLab{% endblock %}
{% block body %}

<div class="row">
  <div class="column">
    <h1 style = "margin-left: 50px"><b>AutoEDA</b> DataLab</h1>
    <p style = "margin-left: 50px">With properly uploaded dataset, You can choose from a variety of pre-programmed scalable EDA Graphs, to quickly analyse your data!</p>

    <form action="#" method="post">
    {% if message != None: %}
    <p align="center" style="color:red; font:15px verdana;">{{message}}</p>
    {% endif %}
      <p style="margin-left: 50px">Select Dataset:</p>
      <p style="margin-left: 50px"><select name = "filename">
        {% for item in filenames: %}
        <option value = {{item[0]}} selected style="margin-left: 50px">{{item[0]}}</option>
        {% endfor %}
      </select>

      <p style="margin-left: 50px"><input type="submit" value = "Submit!"</p><br>

            <p>{{con}}</p>
            <p>{{dis}}</p>


            {% if filepath: %}
              {% for table in tables %}
                        {{ table|safe }}
              {% endfor %}
              <img src = {{filepath}} width=300 />
            {% endif %}

            {% for item in info: %}
              {% if item[1]== "discrete":%}
                <p>{{item[0]}}</p>
                <p>Type: {{item[1]}}</p>
                <p>{{item[2]}}</p>
                <p>{{item[3]}}</p>
                <p>{{item[4]}}</p>
                <p>{{item[5]}}</p>
                <img src = {{item[6]}} width=300 />
              {% elif item[1]== "continuous": %}
                <p>{{item[0]}}</p>
                <p>Type: {{item[1]}}</p>
                <p>{{item[2]}}</p>
                <p>{{item[3]}}</p>
                <p>{{item[4]}}</p>
                <p>{{item[5]}}</p>
                <p>{{item[6]}}</p>
                <p>{{item[7]}}</p>
                <p>{{item[8]}}</p>
                <p>{{item[9]}}</p>
                <img src = {{item[10]}} width=300 />
              {% endif %}
            {% endfor %}
      <a href="/"><buttonRet>Return to Home Page</buttonRet></a>

  </div>

  <div class="column">
    <h1 style = "margin-left: 50px"><b>Variables Breakdown</h1>

  </div>
</div>
{% endblock %}
