{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block body %}
    {% if message == "Error": %}
        <p style="color:red;">In There is no such variable in your database or you typed inappropriate number of variables! </p>
        <p>In distribution plot method you should type name of only one variable.</p>
    {% elif message != None: %}
        <img src = {{message}} />
    {% elif message == None: %}
        <p>In distribution plot method you should type name of only one variable, otherwise error will occur and you will be redirected here once again!</p>
    {% endif %}
    <form action="#" method = "post">
        <p> Select one variable for distribution plot: </p>
        <p> <input type="text" name="variables"</p>

        <p> <input type="submit" value="submit"</p>
    </form>

{% endblock %}