{% extends "base.html" %}
{% block title %}AutoEDA | Home Page{% endblock %}
{% block body %}

{% if content == True: %}

<div class = "row">
	<div class="column">
		<h1 style = "margin-left: 50px"><b>AutoEDA</b> Home Page</h1>
		<p style = "margin-left: 50px">Now you can explore the possibilities of our Service. You might start by:</p><br>
		<a href="/data"><button style = "margin-left: 50px">UPLOAD</button></a>
		<a href="/datalab"><button style = "margin-left: 50px">SELECT</button></a><br><br>
  	<a href="/update"><button style = "margin-left: 50px">UPDATE</button></a>
		<a href="/delete"><button style = "margin-left: 50px">DELETE</button></a><br><br>
		<a href="/show"><button style = "margin-left: 50px;color:rgba(0, 0, 80, 0.75);background-color:#dedaed">SHOW DATASETS</button></a>
		<a href="/logout"><button style = "margin-left: 50px;color:rgba(0, 0, 80, 0.75);background-color:#dedaed">LOGOUT</button></a>
	</div>

	<div class="column">
		<h1 style = "margin-left: 50px">and Your Notes:</h1>

		<form action="#" method = "post">
		  <p style="margin-left: 50px"> Your New Note: </p>
		  <p style="margin-left: 50px"> <input type="text" name="note"</p>
		  <p style="margin-left: 50px"> <input type="submit" value="Add!"</p>
		</form>

		{% for table in tables %}
			{{ table|safe }}
        {% endfor %}

	</div>
</div>

{% elif content == False: %}
	<h1 align="center">Welcome to <b>AutoEDA</b> Home Page!</h1>
	<h2 align="center">YOU ARE NOT LOGGED IN</h2>
	<a href="/login">
		<button style = "margin-left:auto;margin-right:auto;display:block">LOGIN</button>
	</a>
	<a href="/register">
		<button style = "margin-left:auto; margin-right:auto;display:block;color:rgba(0, 0, 80, 0.75);background-color:#dedaed">REGISTER</button>
	</a>
{% endif %}
{% endblock %}
