{% extends "base.html" %}
{% block title %}AutoEDA | Update{% endblock %}
{% block body %}
<h1 style = "margin-left: 50px"><b>AutoEDA</b> Update</h1>

<form action="#" method = "post">
  <p style = "margin-left: 50px"> Choose new Filepath for existing file, remember that it should be .csv in UTF!</p>
  <p align="center" style="color:red; font:15px verdana;">{{message}}</p>
  <br>
  <form action="#" method = "post">
    <p style="margin-left: 50px"> Your Filename: </p>
    <p style="margin-left: 50px"><select name = "filename">
      {% for item in filenames: %}
      <option value = {{item[0]}} selected>{{item[0]}}</option>
      {% endfor %}
    </select>
    <p style="margin-left: 50px"> Your Path: </p>
    <p style="margin-left: 50px"> <input type="text" name="path"</p>
    <p style="margin-left: 50px"> <input type="submit" value="Update!"</p>
  </form>

<a href="/"><buttonRet style = "margin-left: 50px">Return to Home Page</buttonRet></a>
{% endblock %}
